
body {
  font-family: arial, verdana, helvetica, sans serif;
  font-size: 8pt;
}

td {
  font-size: 8pt;
}


.acMain {
  width: 100%;
  text-align: center;
  background-color: #e1e1f0;
}

.acTitle {
  background-color: #ccf; 
  color: #006;
  text-align: center;
  font-size: 140%;
  font-weight: bold;
}

.acHeader {
  background-color: #cfcfcf;
  color: #000;
  text-align: center;
  width: 14%;
  font-weight: bold;
}

.acFuture {
  width: 14%;
  height: 70;
  background-color: #ccf;
  vertical-align: top;
}

.acDead {
  width: 14%;
  height: 70;
  background-color: #c0c0c0;
  vertical-align: top;
}

.acPast {
  width: 14%;
  height: 70;
  background-color: #f0f0c0;
  vertical-align: top;
  
}

.acToday {
  width: 14%;
  height: 70;
  background-color: #f99;
  vertical-align: top;
  border: thin dotted #660000;
}

.acCalBody {
  cell-padding: 0;
  cell-spacing: 3;
  cell-border: 1;
  width: 100%;   
}

.acCopyRite {
  font-family: verdana, helvetica, sans serif;
  font-size: 70%;
}

.acNumber {
  font-weight: bold;
}

.acEntry {
  font-family: verdana, helvetica, sans serif;
  font-size: 80%;
  color: #666;
}

.acBorder {
  border: thin dotted #660000;
}
